#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-over {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0 auto;
}

.board-container.easy {
  width: 276px;
}
.board-container.medium {
  width: 345px;
}
.board-container.hard {
  width: 414px;
}

#board {
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.difficulty-button {
  margin: 15px;
  border: 2px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 25px;
  background-color: white;
  font-weight: bold;
}

.btn-easy {
  color: #6AAA64;
}

.btn-easy:hover {
  background-color: #6AAA64;
  color: #000000;
  border: 2px solid black;
}

.btn-medium {
  color: #C9B458;
}

.btn-medium:hover {
  background-color: #C9B458;
  color: #000000;
  border: 2px solid black;
}

.btn-hard {
  color: #B83737;
}

.btn-hard:hover {
  background-color: #B83737;
  color: #000000;
  border: 2px solid black;
}


.title {
  color: black;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.word-guess {
  display: flex;
  justify-content: center;
}

.correct{
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}


.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    /* Box */
    border: 1px solid lightgray;
    width: 36px;
    height: 40px;
    margin: 1px;

    /**/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    /* Box */
    border: 1px solid lightgray;
    width: 76px;
    height: 40px;
    margin: 1px;

    /**/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}